body {
    margin: 0;
    padding: 0;
    background: #111;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.casa-container {
    position: relative;
    width: 480px;
    height: auto;
    margin: 1rem;
}

.fondo-casa {
    width: 100%;
    height: auto;
    display: block;
}

.habitacion {
    position: absolute;
    background-color: rgba(255, 255, 0, 0);
    transition: background-color 0.3s;
}

.habitacion:hover {
    background-color: rgba(255, 255, 100, 0.45);
    cursor: pointer;
}

/* ÁTICO - formas reales */
.dormitorio {
    top: 32px;
    left: 69px;
    width: 200px;
    height: 162px;
    clip-path: polygon(0% 100%, 0% 70%, 86% 6%, 100% 18%, 100% 100%);
}

.bano {
    top: 68px;
    left: 283px;
    width: 130px;
    height: 125px;
    clip-path: polygon(0% 0%, 100% 60%, 100% 100%, 0% 100%);
}

/* PRIMER PISO */
.oficina {
    top: 205px;
    left: 68px;
    width: 130px;
    height: 106px;
}

.cocina {
    top: 205px;
    left: 210px;
    width: 202px;
    height: 106px;
}

/* PLANTA BAJA */
.living {
    top: 323px;
    left: 68px;
    width: 190px;
    height: 108px;
}

.cochera {
    top: 323px;
    left: 271px;
    width: 141px;
    height: 108px;
}
