/* Colores base */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #161925;
    color: #ffffff;
}

/* Navegación */
.nav-bar {
    background-color: #23395B;
    padding: 1rem 2rem;
    border-radius: 0 0 15px 15px;
    text-align: center;
}

.nav-link {
    color: #cbf7ed;
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 15px;
}

.nav-link:hover {
    color: #ffffff;
}

/* Contenido principal */
.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem;
    gap: 2rem;
}

.titulo-principal {
    font-size: 4rem;
    color: #406e8e;
    text-align: center;
    margin-bottom: 1rem;
}

.tabla-integrantes {
    border-collapse: collapse;
    margin: 1rem auto;
    font-size: 1.2rem;
    width: 80%;
    max-width: 600px;
    background-color: #cbf7ed; /* fondo claro */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.tabla-integrantes td {
    padding: 0.8rem 1rem;
    text-align: left;
    color: #23395B; /* texto oscuro */
}

.tabla-integrantes tr:nth-child(even) {
    background-color: #b2e8dd; /* alternancia de filas */
}


.navegacion-casas {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 100;
}


.boton-flecha {
    font-size: 2rem;
    padding: 0.4rem 0.8rem;
    border: none;
    background-color: #8ea8c3;
    color: #23395B;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.boton-flecha:hover {
    transform: scale(1.15);
}
